<html>

<head>
    <meta charset="utf-8">
    <title>DATA BARANG</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        table{table-layout: fixed;}
        table td{overflow: hidden;}
    </style>
</head>

<body>
    <div class="mr-5 ml-5 mt-4">
        <h2>DATA BARANG</h2>
        <br>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addPostModal">
            TAMBAH DATA
        </button>
        <div class="my-3">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <td>Nama Barang</td>
                        <td>Deskripsi</td>
                        <td>Stok</td>
                        <td>Aksi</td>
                    </tr>
                </thead>
                <tbody>
                    {{#each posts}}
                    <tr>
                        <td>{{ id }}</td>
                        <td>{{ nama }}</td>
                        <td>{{ deskripsi }}</td>
                        <td>{{ stok }}</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-info detail-post" data-id="{{ id }}" data-nama="{{ nama }}"
                                data-deskripsi="{{ deskripsi }}" data-stok="{{ stok }}">DETAIL</button>
                            <button type="button" class="btn btn-sm btn-warning edit-post" data-id="{{ id }}"
                                data-nama="{{ nama }}" data-deskripsi="{{ deskripsi }}"
                                data-stok="{{ stok }}">PERBARUI</button>
                            <button type="button" class="btn btn-sm btn-danger delete-post"
                                data-id="{{ id }}">HAPUS</button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    <div id="addPostModal" class="modal fade">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Tambah Data</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form action="/tambah" method="POST">
                        <div class="form-group">
                            <label for="nama">Nama Barang</label>
                            <input type="text" class="form-control" name="nama" id="nama">
                        </div>
                        <div class="form-group">
                            <label for="deskripsi">Deskripsi</label>
                            <input type="text" class="form-control" name="deskripsi" id="deskripsi">
                        </div>
                        <div class="form-group">
                            <label for="stok">Stok</label>
                            <input type="text" class="form-control" name="stok" id="stok">
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-success" type="submit">TAMBAH</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="editPostModal" class="modal fade">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">PEMBARUAN</div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form action="/edit" method="POST">
                        <input type="hidden" name="id" id="edit_id">
                        <div class="form-group">
                            <label for="edit_nama">Nama Barang</label>
                            <input type="text" class="form-control" name="nama" id="edit_nama">
                        </div>
                        <div class="form-group">
                            <label for="edit_deskripsi">Deskripsi</label>
                            <input type="text" class="form-control" name="deskripsi" id="edit_deskripsi">
                        </div>
                        <div class="form-group">
                            <label for="edit_stok">Stok</label>
                            <input type="text" class="form-control" name="stok" id="edit_stok">
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-warning" type="submit">PERBARUI</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="deletePostModal" class="modal fade">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">KONFIRMASI HAPUS</div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form action="/delete" method="POST">
                        <div class="form-group">
                            <p>ANDA YAKIN MENGHAPUS DATA BARANG INI??</p>
                            <input type="hidden" id="delete_id" name="id">
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-danger" type="submit">HAPUS</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="DetailPostModal" class="modal fade">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">DETAIL BARANG</div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form action="/" style="padding: 15px;">
                    <input type="hidden" name="id" id="edit_id">
                    <div class="form-group">
                        <label for="edit_nama">Nama</label>
                        <input type="text" class="form-control" name="nama" id="detail_nama" readonly>
                    </div>
                    <div class="form-group">
                        <label for="edit_deskripsi">Deskripsi</label>
                        <input type="text" class="form-control" name="deskripsi" id="detail_deskripsi" readonly>
                    </div>
                    <div class="form-group">
                        <label for="edit_stok">Stok</label>
                        <input type="text" class="form-control" name="stok" id="detail_stok" readonly>
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-primary" type="submit">KELUAR</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>
        $('.edit-post').on('click', function () {
            var id = $(this).data('id')
            var nama = $(this).data('nama')
            var deskripsi = $(this).data('deskripsi')
            var stok = $(this).data('stok')

            $('#editPostModal').modal('show')

            $('#edit_id').val(id)
            $('#edit_nama').val(nama)
            $('#edit_deskripsi').val(deskripsi)
            $('#edit_stok').val(stok)
        })

        $('.detail-post').on('click', function () {
             var id = $(this).data('id')
            var nama = $(this).data('nama')
            var deskripsi = $(this).data('deskripsi')
            var stok = $(this).data('stok')

            $('#DetailPostModal').modal('show')

            $('#detail_id').val(id)
            $('#detail_nama').val(nama)
            $('#detail_deskripsi').val(deskripsi)
            $('#detail_stok').val(stok)
        })

        $('.delete-post').on('click', function () {
            var id = $(this).data('id')

            $('#deletePostModal').modal('show')

            $('#delete_id').val(id)
        })
    </script>
</body>

</html>